{% extends 'base.html' %}
{% load static %}



{% block title %}{{ state.name }} | {{ district.name }} District{% endblock title %}


{% block content %}

<!-- Breadcrumbs -->
<div class="bg-white border-b">
    <div class="container mx-auto px-4 py-3">
        <div class="flex items-center text-sm">
            <a href="{% url 'index' %}" class="text-gray-600 hover:text-primary">Home</a>
            <i class="fas fa-chevron-right text-gray-400 mx-2 text-xs"></i>
            <a href="{% url 'state_detail' state.slug %}" class="text-gray-600 hover:text-primary">{{ state.name }}</a>
            <i class="fas fa-chevron-right text-gray-400 mx-2 text-xs"></i>
            <span class="text-primary font-medium">{{ district.name }}</span>
        </div>
    </div>
</div>






{% endblock content %}