<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Disclaimers | Centre For Knowledge Alternatives</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/hamburger.css" rel="stylesheet">
    <link href="/css/offcanvas.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <!-- Header Start -->
  <%- include('partials/_header') %>
  <!-- Header End -->


    <!-- Service Start -->
<!-- Top Pic -->
<div class="container-fluid px-0 position-relative mt-5">
    <img src="/img/project-cover.jpg" style="width: 100%;">
    <h2 class="position-absolute fw-bold text-uppercase"
        style="color: #dab20c; bottom: 20px; left: 5%; font-size: calc(1.5rem + 1vw);">
      
    </h2>
  </div>
  
  
  
  <!-- CONTENT CONTAINER -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="txtheading">Disclaimers</h1>
            <p class="txtinfo">
                We are Centre for Knowledge Alternatives (the CKA hereinafter), a research centre of FLAME University. FLAME University (the University hereinafter) has been established as state private university, vide the FLAME University Act 2014 (Maharashtra Act No. II of 2015) passed by the Government of Maharashtra. The registered address of FLAME University is FLAME University, Gat No. 1270, Lavale, Pune 412115.   
            </p>
            <p class="txtinfo">
                The www.indiandistricts.in (the Portal hereinafter) is a project (the Project hereinafter) of CKA.  
            </p>

            <p class="txtconhd">Methodology</p>
            <p class="txtinfo">
                All the statistical and quantitative data that is displayed on the Portal is sourced from one or the other sources of the government of India. The explicit sources are generally mentioned against the data. Wherever not mentioned, we encourage you to bring it to our attention. The secondary sources used (for e.g., the gazetteers of British India) are mentioned at the end of each page. 
            </p>
            <p class="txtinfo">
                The qualitative information comes from our own fieldwork, narratives by local partners and people from the respective districts, and even secondary (even vernacular literature). None of the ideas, narratives, explanations, documentation reflects the opinions or viewpoints of CKA or anyone employed within the CKA. 
            </p>
            <p class="txtinfo">
                We also collect information from many of our users, who contribute to the information in the Portal. For the contribution that comes from our users, we conduct a quality check, and basic audit before we publish the information on the Portal. We do not conduct a due diligence or verify the content in detail if we do not have reasons to believe that the information is incorrect. 
            </p>
            <p class="txtinfo">
                For correction of information on the Portal, we rely on users themselves to alert us to inconsistency, errors, or inaccuracies. We request the users to bring to our notice any discrepancy found in the Portal.
            </p>
            
            <p class="txtconhd">Data Sources</p>
            <p class="txtinfo">
                There are two types of information on the Portal, namely (a) Data and (b) Culture. The source of the former is government’s publicly produced data, and that of the former is our own primary and secondary research. While information sources are reasonably believed to be reliable, we cannot offer any warranty or make any representation, express or implied, regarding accuracy, fitness, completeness, adequacy, usefulness or legality of such information. We also do not warrant that the data is updated frequently.
            </p>                
            <p class="txtinfo">
                This is a collaborative Project. Some of the content on the Portal comes from the users or people from the districts. The users may encounter materials that may be objectionable, offensive, misleading, mislabeled. We request the users to bring this to our notice, even though we do not claim that all such material will be removed from the Portal. The users are advised caution, and expected to use common sense, and proper, mature and informed judgment while accessing such content on the Portal. We are not responsible if some content hurts the feeling of users.
            </p>

            <p class="txtconhd">Translations</p>
            <p class="txtinfo">
                We work with large amount of vernacular materials. Material in the Portal may be translated. While we have taken efforts to ensure that the translations are as accurate, we do not take any responsibility for errors in translations that may have crept in, in the Portal. We encourage the users to alert us of any translation errors that they encounter. 
            </p>                
            <p class="txtinfo">
                For many words that we think do not carry an appropriate translation into English, we have chosen to keep them in the vernacular language itself. This is done in the perspective of the researcher or editor who is working on that particular section. These perspectives do not reflect the view of CKA or the University but of individual researchers. CKA or the University shall not be liable for any errors attributed to incorrect or inappropriate translations.
            </p>
            <p class="txtinfo">
                We reserve the right to modify, discontinue (temporarily or permanently) or edit the contents of the Portal, and any means of accessing or utilizing the Portal and/or its contents from time to time at our sole discretion with or without prior notice. 
            </p>

            <p class="txtconhd">Republishing Guidelines</p>
            <p class="txtinfo">
                CKA is committed to foster freedom of information and encourages creating new knowledge and its dissemination without any cost. We promote the ideas of Creative Commons. The Portal is an effort to build meaningful and huge data and culture repositories of Indian districts, and CKA encourages the use of the Portal for various purposes in creating knowledge and advancing societies. 
            </p>                
            <p class="txtinfo">
                Users are free to use, download, copy, extract, print and republish (online or print) the content from the Portal as long as CKA and the Portal is expressly cited and credited for the respective Users are required to add the hyperlink of the original page on the Portal which is the source of the content being used or imported. For any image, appropriate credits to CKA must be given in full and not abbreviated form. 
            </p>
            <p class="txtinfo">
                Material and content from the Portal, whether in full or part, direct or derivative cannot be sold or used for any commercial or monetary gains without the express, written permission from the CKA. Material and content from the Portal cannot be put behind a paywall anywhere.
            </p>
            <p class="txtinfo">
                Users cannot systematically republish the Portal elsewhere. 
            </p>
            <p class="txtinfo">
                If the original page in the Portal contains authorship details, the same should be cited and credited whenever part of whole of the content on that page or its idea or ideas are being reproduced elsewhere in exact or different words. The same applies to non-text media.
            </p>
            <p class="txtinfo">
                We encourage users to inform us when they use our work for their purposes. 
            </p>
        </div>
    </div>
</div>
        
          

  <!-- Disclaimers Page Content End -->

            
        
  
    <!-- Footer Start -->
    <%- include('partials/_footer') %>
    <!-- Footer End -->


    <!-- Back to Top 
    <a href="#" class="btn btn-lg btn-top btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>-->


    <!-- JavaScript Libraries -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>