{% extends "base.html" %}
{% load static %}
{% block title %} People | Centre For Knowledge Alternatives{% endblock title %}

    {% block head %}
    
    
    
    <style>
        /* Custom styles for hiding the scrollbar */
        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
        .scrollbar-hide {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
          }
        </style>
        {% endblock head %}
        
        
  
{% block content %}

  <!-- GROUP PHOTO with "PEOPLE" overlay -->
  <div class="relative mt-0">
    <img src="{% static 'footersection/img/Team/CKA Team.png' %}" class="w-full grayscale" alt="Group Photo">
  
  </div>

  <!-- CONTENT CONTAINER -->
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto">

      <!-- PATRONS Section -->
      <h1 class="text-4xl font-bold text-[#863F3F]">Patrons</h1>
      <hr class="h-1 bg-[#863F3F] border-none">

      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-6">
        <!-- Patron 1: Vallabh Bhanshali -->
        <div>
          <img src="{% static 'footersection/img/Team/Vallabh Bhanshali 2.png' %}" alt="Vallabh Bhanshali" class="w-[280px] h-auto object-cover">
          <p class="font-bold mt-4 mb-1 text-lg">Vallabh Bhanshali</p>
          <p class="text-[#863F3F] text-[0.9rem] leading-tight">
            Chairman, ENAM Securities<br>
            Founder, Desh Apnayen<br>
            Governing Body Member, FLAME University
          </p>
          <hr class="h-[3px] w-[50px] bg-[#863F3F] border-none my-3">
          <p class="text-base leading-relaxed">
            Mr. Vallabh Bhanshali is a well-known thought leader, mentor and visionary investor businessman of India who has devoted his life to a range of social, national and spiritual fields. He is the Co-founder of ENAM Securities, the reputed investment Banking and Investment Group. His non-profit, Desh Apnayen Foundation works with Government and private schools to inculcate active citizenship at young age. He also started the platform - Truth Talks to highlight the practical benefits of a truthful life. He has served on the Board of Reserve Bank of India and on several policy making advisory committees.
          </p>
        </div>

        <!-- Patron 2: Monik Sameer Koticha -->
        <div>
          <img src="{% static 'footersection/img/Team/Monik Sameer Koticha.jpg' %}" alt="Monik Sameer Koticha" class="w-[280px] h-auto object-cover">
          <p class="font-bold mt-4 mb-1 text-lg">Monik Sameer Koticha</p>
          <p class="text-[#863F3F] text-[0.9rem] leading-tight">
            Promoter, ASK and Wealth Management<br>
            Managing Trustee, Fortress Foundation, <br>Sameer Koticha Family Trust<br><br>
          </p>
          <hr class="h-[3px] w-[50px] bg-[#863F3F] border-none my-3">
          <p class="text-base leading-relaxed">
            Mr. Monik Sameer Koticha is part of the promoter family of ASK Group. Monik is also the managing director of Fortress Group (Family office of Sameer Koticha, Founder & Chairman of ASK Group) and oversees the investments in equity, real estate & private equity for the firm. He is an avid investor with a focus on bottom-up investments.
            <br><br>
            He is also responsible for family and corporate philanthropic initiatives and is actively involved with several causes in the areas of education, housing & nation building.
          </p>
        </div>
      </div>

      <!-- FOUNDING DIRECTOR Section -->
      <h1 class="text-4xl font-bold text-[#863F3F] mt-16">Founding Director</h1>
      <hr class="h-1 w-full bg-[#863F3F] border-none mt-2 mb-6">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-6">
        
        <div>
          <img src="{% static 'footersection/img/Team/Yugank Goyal.png' %}" alt="Vallabh Bhanshali" class="w-[280px] h-auto object-cover">
          <p class="font-bold mt-4 mb-1 text-lg">Yugank Goyal</p>
          <p class="text-[#863F3F] text-[0.9rem] leading-tight">
            Professor in Public Policy<br>
                FLAME University
          </p>
          <hr class="h-[3px] w-[50px] bg-[#863F3F] border-none my-3">
          <p class="text-base leading-relaxed">
            Yugank joined in 2021 with a vision to build the Centre for Knowledge Alternatives and document India's districts. He studied engineering in India and later pursued Masters and PhD in law and economics from Europe as an Erasmus Mundus scholar. He was one of the founding members of O.P. Jindal Global University, and the Indian School of Public Policy. He is Member, Maharashtra Govt. NEP Steering Committee and Honorary Advisor, MITRA (Maharashtra Institution for Transformation). His research lies at the interesection of law and development, institutional economics and knowledge frameworks.  
            </p>
        </div>


      

    </div>

    <!-- CKA TEAM Section -->
    <div class="container mx-auto py-12">
        <h1 class="text-4xl font-bold text-[#863F3F]">Team</h1>
        <hr class="h-1 w-full bg-[#863F3F] border-none mt-2 mb-8">
        
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-8 gap-y-12">
          
        
            <!-- Diki Sherpa -->
            <div>
            <img src="{% static 'footersection/img/Team/Diki Sherpa.png' %}" alt="Diki Sherpa" class="w-[300px] h-auto hover-image" >
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Diki Sherpa</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Postdoctoral Research Fellow</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">History, Jadavpur University &amp; Chinese University of Hong Kong</p>
            </div>
            </div>


            <!-- Hasita Pattipaty -->
            <div>
            <img src="{% static 'footersection/img/Team/Hasita Pattipaty 1.png' %}" alt="Hasita Pattipaty" class="w-[300px] h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Hasita Pattipaty</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Research Associate</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Finance &amp; Public Policy<br>FLAME University</p>
            </div>
            </div>

            <!-- Karishma K Shah -->
            <div>
            <img src="{% static 'footersection/img/Team/Karishma K Shah.png' %}" alt="Karishma K Shah" class="w-full h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Karishma K Shah</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Research Lead</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Finance & Public Policy <br>FLAME University</p>
            </div>
            </div>

            <!-- Kriti Bhargava -->
            <div>
            <img src="{% static 'footersection/img/Team/Kriti Bhargava.png' %}" alt="Kriti Bhargava" class="w-full h-auto">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Kriti Bhargava</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Public Policy &amp; Economics<br>FLAME University</p>
            </div>
            </div>
            
            <!-- Mahadev P. Menon -->
            <div>
            <img src="{% static 'footersection/img/Team/Mahadev P. Menon.png' %}" alt="Mahadev P. Menon" class="w-full h-auto hover-image" >
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Mahadev P. Menon</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Research Associate</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Economics<br>FLAME University</p>
            </div>
            </div>

            <!-- Parth Ambre -->
            <div>
            <img src="{% static 'footersection/img/Team/Parth Ambre.png' %}" alt="Parth Ambre" class="w-full h-auto" >
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Parth Ambre</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">International Relations<br>Ajeenkya DY Patil University</p>
            </div>
            </div>

            <!-- Pradeep Chellappan -->
            <div>
            <img src="{% static 'footersection/img/Team/Pradeep Chellappan.png' %}" alt="Pradeep Chellappan" class="w-full h-auto">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Pradeep Chellappan</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Doctoral Fellow</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Geology &amp; Law<br>Savitribai Phule Pune University</p>
            </div>
            </div>

             <!-- Rheeya Chaavaan -->
            <div>
            <img src="{% static 'footersection/img/Team/Rheeya Chaavaan.png' %}" alt="Rheeya Chaavaan" class="w-full h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Rheeya Chaavaan</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">MA Development<br>Azim Premji University</p>
            </div>
            </div>

            <!-- Rishabh Tiwari -->
            <div>
            <img src="{% static 'footersection/img/Team/Rishab Tiwari.png' %}" alt="Rishabh Tiwari" class="w-full h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Rishabh Tiwari</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Research Associate</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Computer Applications<br>Kalinga Institute of Industrial Technology</p>
            </div>
            </div>

            <!-- Rohit Warang -->
            <div>
            <img src="{% static 'footersection/img/Team/Rohit Warang.png' %}" alt="Rohit Warang" class="w-full h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Rohit Warang</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Research Associate</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Life Sciences &amp; Biochemistry<br>Mumbai University</p>
            </div>
            </div>

            <!-- Sakshi Sethi -->
            <div>
            <img src="{% static 'footersection/img/Team/Sakshi Sethi.png' %}" alt="Sakshi Sethi" class="w-full h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Sakshi Sethi</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Research Associate</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">English Literature<br>Savitribai Phule Pune University</p>
            </div>
            </div>

            <!-- Utkarsh Sharma -->
            <div>
            <img src="{% static 'footersection/img/Team/Utkarsh Sharma.png' %}" alt="Utkarsh Sharma" class="w-full h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Utkarsh Sharma</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Research Associate</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Environmental Studies & GIS<br>FLAME University</p>
            </div>
            </div>

            <!-- Vaibhav Nagargoje -->
            <div>
            <img src="{% static 'footersection/img/Team/vaibhav-nagargoje-b.png' %}" alt="vaibhav-nagargoje" class="w-full h-auto hover-image">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Vaibhav Nagargoje</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Software Engineer</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Computer Science<br>Fergusson College</p>
            </div>
            </div>
          

         
          

        </div>
    </div>
    <!-- CKA Interns Section -->
    <div class="container mx-auto py-12">
        <h1 class="text-4xl font-bold text-[#863F3F]">Interns</h1>
        <hr class="h-1 w-full bg-[#863F3F] border-none mt-2 mb-8">
        
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-x-6 gap-y-12">
          
          
          
            
            
            
    

            
              <!-- Dhuthi Vutukuru -->
              <div>
              <img src="{% static 'footersection/img/Team/Druthi Vanshika Vutukuru.png' %}" alt="Druthi Vutukuru" class="w-full h-auto">
              <div class="pt-2 text-left text-[#863F3F]">
                <p class="font-bold mb-1 text-base text-gray-800">Druthi Vutukuru</p>
                {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Economics<br>FLAME University</p>
            </div>
            </div>
            <!--  -->
            <div>
            <img src="{% static 'footersection/img/Team/Kompal Grover.png' %}" alt="Kompal Grover" class="w-full h-auto">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Kompal Grover</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Economics<br>FLAME University</p>
            </div>
            </div>

            <!-- Lakshaya Kumar -->
            <div>
            <img src="{% static 'footersection/img/Team/Lakshaya Kumar.png' %}" alt="Lakshaya Kumar" class="w-full h-auto">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Lakshaya Kumar</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Public Policy<br>FLAME University</p>
            </div>
            </div>
            
            <!-- Nikit Potdar -->
            <div>
            <img src="{% static 'footersection/img/Team/Nikit Potdar.png' %}" alt="Nikit Potdar" class="w-full h-auto">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Nikit Potdar</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">Computer Science<br>Fergusson College</p>
            </div>
            </div>
            
            
            
           

            <div>
            <img src="{% static 'footersection/img/Team/Sanskriti Jahadav.png' %}" alt="Sanskriti Jahadav" class="w-full h-auto">
            <div class="pt-2 text-left text-[#863F3F]">
              <p class="font-bold mb-1 text-base text-gray-800">Sanskruti Jadhav</p>
              {% comment %} <p class="text-sm mb-0 text-black"><i>Intern</i></p> {% endcomment %}
              <p class="text-sm mt-0 text-gray-600">International studies<br>FLAME University</p>
            </div>
            </div>




        </div>
    </div>    
        <!--ast Interns/ Researchers Section n -->
        <h2 class="text-4xl font-bold text-[#863F3F]">Past Researchers</h2>
        <hr class="h-1 w-full bg-[#863F3F] border-none mt-2 mb-6">
        
        <div class="columns-2 sm:columns-2 md:columns-3 lg:columns-3 xl:columns-4 text-gray-700">
           
           
            <div class="text-sm break-inside-avoid mb-3">Gaurav Saraswat</div>
            <div class="text-sm break-inside-avoid mb-3">Khushi Somani</div>
            <div class="text-sm break-inside-avoid mb-3">Manish Narwade</div>
            <div class="text-sm break-inside-avoid mb-3">Mrityunjay Vichare</div>
            
            <div class="text-sm break-inside-avoid mb-3">Muskan Agarwal</div>
            <div class="text-sm break-inside-avoid mb-3">Narhar Raherkar</div>
            <div class="text-sm break-inside-avoid mb-3">Nidhi Ingole</div>
            
            
            <div class="text-sm break-inside-avoid mb-3">Omkar Tikekar</div>
            
            <div class="text-sm break-inside-avoid mb-3">Prerana Thakur</div>

            <div class="text-sm break-inside-avoid mb-3">Sahil Borse</div>
            <div class="text-sm break-inside-avoid mb-3">Sanchari Basu Chaudhuri</div>
            <div class="text-sm break-inside-avoid mb-3">Smriti Jalihal</div>
            <div class="text-sm break-inside-avoid mb-3">Tanya Chandra</div>
            <div class="text-sm break-inside-avoid mb-3">Varun Nair</div>
            <div class="text-sm break-inside-avoid mb-3">Yogesh Dasarwad</div>

            
        </div>
        <h2 class="text-4xl font-bold mt-16 text-[#863F3F]">District Fellows (Maharashtra), Past Interns & Other Contributors</h2>
        <hr class="h-1 w-full bg-[#863F3F] border-none mt-2 mb-6">
        
    <div class="columns-3 sm:columns-3 md:columns-4 lg:columns-5 xl:columns-5 text-gray-700">

       <div class="text-sm break-inside-avoid mb-3">Aastha Nayak</div>
       <div class="text-sm break-inside-avoid mb-3">Alamprabhu More</div>
       <div class="text-sm break-inside-avoid mb-3">Ananya Prabhughate</div>
       <div class="text-sm break-inside-avoid mb-3">Ananya Saxena</div>
       <div class="text-sm break-inside-avoid mb-3">Aniket Humbe</div>
       <div class="text-sm break-inside-avoid mb-3">Anisha Jasti</div>
       <div class="text-sm break-inside-avoid mb-3">Arindam Joshi</div>
       <div class="text-sm break-inside-avoid mb-3">Ashwini Suresh Gejage</div>
       <div class="text-sm break-inside-avoid mb-3">Atharv Zol</div>
       <div class="text-sm break-inside-avoid mb-3">Atharva Tadas</div>
       <div class="text-sm break-inside-avoid mb-3">Bajrang Maghade</div>
       <div class="text-sm break-inside-avoid mb-3">Chetana Nehete</div>
       <div class="text-sm break-inside-avoid mb-3">Christine Sebastian</div>
        <div class="text-sm break-inside-avoid mb-3">Devika Veerkar</div>
       <div class="text-sm break-inside-avoid mb-3">Dhiraj Guravpujari</div>
       <div class="text-sm break-inside-avoid mb-3">Gaargi Jamkar</div>
       <div class="text-sm break-inside-avoid mb-3">Gargee Dixit</div>
       <div class="text-sm break-inside-avoid mb-3">Gargee Raut</div> 
       <div class="text-sm break-inside-avoid mb-3">Gargi Dave</div>
       <div class="text-sm break-inside-avoid mb-3">Gauri Kulkarni</div>
       <div class="text-sm break-inside-avoid mb-3">Gayatri Nautiyal</div>
       <div class="text-sm break-inside-avoid mb-3">Gurushant Alange</div>
       <div class="text-sm break-inside-avoid mb-3">Hansini Maru</div>
       <div class="text-sm break-inside-avoid mb-3">Harshal Sonone</div>
       <div class="text-sm break-inside-avoid mb-3">Jahnavi Sant</div>
       <div class="text-sm break-inside-avoid mb-3">Jayvant Valkunje</div>
       <div class="text-sm break-inside-avoid mb-3">Kanishka Pawara</div>
       <div class="text-sm break-inside-avoid mb-3">Karan Agarwal</div>
       <div class="text-sm break-inside-avoid mb-3">Karan Dodke</div>
       <div class="text-sm break-inside-avoid mb-3">Kinjalkini Gautam</div>
       <div class="text-sm break-inside-avoid mb-3">Krisha Balsarkar</div>
       <div class="text-sm break-inside-avoid mb-3">Kriti Jalihal</div>
       <div class="text-sm break-inside-avoid mb-3">Kunjan Swali</div>
       <div class="text-sm break-inside-avoid mb-3">Maitreyee Sunkale</div>
       <div class="text-sm break-inside-avoid mb-3">Manas Vaidya</div>
       <div class="text-sm break-inside-avoid mb-3">Manish Meshram</div>
       <div class="text-sm break-inside-avoid mb-3">Mayuri Kale</div>
       <div class="text-sm break-inside-avoid mb-3">Meghraj Gole</div>
       <div class="text-sm break-inside-avoid mb-3">Mitra Amit Goray</div>
       <div class="text-sm break-inside-avoid mb-3">Mohan Gaikwad</div>
       <div class="text-sm break-inside-avoid mb-3">Mukta Sardeshmukh</div>
       <div class="text-sm break-inside-avoid mb-3">Nagesh Magare</div>
       <div class="text-sm break-inside-avoid mb-3">Nandini Das</div>
       <div class="text-sm break-inside-avoid mb-3">Neha Maurya</div>
       <div class="text-sm break-inside-avoid mb-3">Nikhat Bhandary</div>
       <div class="text-sm break-inside-avoid mb-3">Nimisha Dhengle</div>
       <div class="text-sm break-inside-avoid mb-3">Nishal Varude</div>
       <div class="text-sm break-inside-avoid mb-3">Omkar Joshi</div>
       <div class="text-sm break-inside-avoid mb-3">Parambi Kapgate</div>
       <div class="text-sm break-inside-avoid mb-3">Parikshit Gavhane</div>
       <div class="text-sm break-inside-avoid mb-3">Poorvith Devang</div>
       <div class="text-sm break-inside-avoid mb-3">Pranjal Nikose</div>
       <div class="text-sm break-inside-avoid mb-3">Pratiksha Joshi</div>
       <div class="text-sm break-inside-avoid mb-3">Purwa Khisti</div>
       <div class="text-sm break-inside-avoid mb-3">Radhika Pande</div>
       <div class="text-sm break-inside-avoid mb-3">Ranjana Gavit</div>
       <div class="text-sm break-inside-avoid mb-3">Riddhi More</div>
       <div class="text-sm break-inside-avoid mb-3">Riham Goel</div>
       <div class="text-sm break-inside-avoid mb-3">Rohan Bhalaviukk</div>
       <div class="text-sm break-inside-avoid mb-3">Roshan Kokole</div>
       <div class="text-sm break-inside-avoid mb-3">Saathvi Kodali</div>
       <div class="text-sm break-inside-avoid mb-3">Samidha Kumar</div>
       <div class="text-sm break-inside-avoid mb-3">Samyukta Satish</div>
       <div class="text-sm break-inside-avoid mb-3">Sangharsh Khandare</div>
       <div class="text-sm break-inside-avoid mb-3">Sanjana Patil</div>
       <div class="text-sm break-inside-avoid mb-3">Sanskruti Chavan</div>
       <div class="text-sm break-inside-avoid mb-3">Sanskruti Dalavi</div>
       <div class="text-sm break-inside-avoid mb-3">Saranya Menon</div>
       <div class="text-sm break-inside-avoid mb-3">Sarthak Gupte</div>
       <div class="text-sm break-inside-avoid mb-3">Satyajeet Patil</div>
       <div class="text-sm break-inside-avoid mb-3">Sayee Ambhorkar</div>
       <div class="text-sm break-inside-avoid mb-3">Shamal Ramshe</div>
       <div class="text-sm break-inside-avoid mb-3">Shanaya Dastoor</div>
       <div class="text-sm break-inside-avoid mb-3">Sharanya Sankpal</div>
       <div class="text-sm break-inside-avoid mb-3">Shital Magare</div>
       <div class="text-sm break-inside-avoid mb-3">Shreeniwas Ghumnar</div>
       <div class="text-sm break-inside-avoid mb-3">Shrey Salwan</div>
       <div class="text-sm break-inside-avoid mb-3">Shrikrushna Bathe</div>
       <div class="text-sm break-inside-avoid mb-3">Shrishant Nalvade</div>
       <div class="text-sm break-inside-avoid mb-3">Shubheksha Khare</div>
       <div class="text-sm break-inside-avoid mb-3">Sruti Samhita Malladi</div>
       <div class="text-sm break-inside-avoid mb-3">Tejaswini Mehata</div>
       <div class="text-sm break-inside-avoid mb-3">Truptant Kapadnis</div>
       <div class="text-sm break-inside-avoid mb-3">Vaishnavi Sutar</div>
       <div class="text-sm break-inside-avoid mb-3">Varad Khate</div>
       <div class="text-sm break-inside-avoid mb-3">Vedika Basu</div>
       <div class="text-sm break-inside-avoid mb-3">Viddheshwari Fulzeke</div>
       <div class="text-sm break-inside-avoid mb-3">Vrinda Mandovra</div>
       <div class="text-sm break-inside-avoid mb-3">Yamini Borkar</div>
       <div class="text-sm break-inside-avoid mb-3">Yash Pund</div>
       <div class="text-sm break-inside-avoid mb-3">Yashvi Shah</div>
      </div>

    </div>

  </div>

  <!-- JAVASCRIPT SECTION -->
  <script>
    // --- Image Hover Effect Script ---
    const hoverImages = document.querySelectorAll('.hover-image');
    hoverImages.forEach(image => {
        const originalImageSrc = image.src;
        image.addEventListener('mouseover', function() {
            const hoverImageSrc = image.getAttribute('data-hover-image');
            if (hoverImageSrc) {
                image.src = hoverImageSrc;
            }
        });
        image.addEventListener('mouseout', function() {
            image.src = originalImageSrc;
        });
    });

    // --- Scroller Scripts ---
    function scrollLeftArrow() {
        const scroller = document.querySelector('.research-associates-scroller');
        scroller.scrollBy({ left: -200, behavior: 'smooth' });
    }
    
    function scrollRightArrow() {
        const scroller = document.querySelector('.research-associates-scroller');
        scroller.scrollBy({ left: 200, behavior: 'smooth' });
    }

    function scrollLeftInterns() {
        const scroller = document.querySelector('.interns-scroller');
        scroller.scrollBy({ left: -300, behavior: 'smooth' });
    }

    function scrollRightInterns() {
        const scroller = document.querySelector('.interns-scroller');
        scroller.scrollBy({ left: 300, behavior: 'smooth' });
    }

    function scrollLeftFellows() {
        const scroller = document.querySelector('.fellows-scroller');
        scroller.scrollBy({ left: -300, behavior: 'smooth' });
    }

    function scrollRightFellows() {
        const scroller = document.querySelector('.fellows-scroller');
        scroller.scrollBy({ left: 300, behavior: 'smooth' });
    }
  </script>

</body>
</html>




{% endblock  %}