<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Project | Centre For Knowledge Alternatives</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/hamburger.css" rel="stylesheet">
    <link href="/css/offcanvas.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <!-- Header Start -->
  <%- include('partials/_header') %>
  <!-- Header End -->


    <!-- Service Start -->
<!-- Top Pic -->
<div class="container-fluid px-0 position-relative mt-5">
    <img src="/img/project-cover.jpg" style="width: 100%;">
    <h2 class="position-absolute fw-bold text-uppercase"
        style="color: #dab20c; bottom: 20px; left: 5%; font-size: calc(1.5rem + 1vw);">
      
     </h2>
  </div>
  
  
  
  <!-- CONTENT CONTAINER -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="txtheading">Project</h1>
            <p class="txtconhd">What do we do?</p>
            <p class="txtinfo">
                The project aims to create knowledge about India by documenting its places, at the district level. We do not build large-scale theories about India. We zoom in into its towns, villages and cities and study their unique stories of culture and development.We do comprehensive mapping of district-level statistics and culture.
            </p>
            <p class="txtinfo">
                In some ways, we try to understand India bit by bit.
            </p>
            <p class="txtinfo">
                We collect, synthesize and meaningfully represent information about Indian districts. Through this website, we disseminate our findings and research free of cost to everyone.
            </p>
            <p class="txtinfo">
                For each district, we categorize all its information in two broad heads (twelve chapters in each), namely:
            </p>
            <ul style="color:black">
                <li>Culture (local stories, handicrafts, political history etc.)</li>
                <li>Data (health, education, agriculture etc.).</li>
            </ul>
            <p class="txtinfo">
                As these names suggest, chapters in culture are more qualitative and those in data, quantitative.
            </p>
            <p class="txtinfo">
                Being an ambitious project, we hope to cover all Indian districts over time. We also recognize the sheer scale of this work, and will welcome collaborations to achieve this exercise of documentation and curation for more effective information dissemination and nation building. If you would like to partner with us for your district(s), please do write to us.
            </p>
            <p class="txtconhd">Why are we doing it?</p>
            <p class="txtinfo">
                We may know a lot about India but how much do we know about it at the local level? For instance, how many cars are there in Sitapur? What stories do people in Latur tell each other, their children and grandchildren? How many girls study in schools in Guntur? Simple information at district level is difficult to access, let aside make sense of. If one really needs it, they have to go to the RTO office in Sitapur, spend weeks chatting with villagers in Latur and the district’s Basic Shiksha Adhikari’s office in Guntur to find such information.
            </p>
            <p class="txtinfo">
                If you set aside a few metropolitan cities, we can’t easily find regional and local level information in India. District administrations’ websites are woefully inadequate and tedious to navigate.
            </p>
            <p class="txtinfo">
                Does this need to be this way? Must we rely on Wikipedia’s nominal entries or Lonely Planet’s tourist-centric information to find out more about our local cultures and development? More importantly, can we afford to not have decentralized repositories of knowledge in our ever-so-diverse country?
            </p>
            <p class="txtinfo">
                In this world of information, it is embarrassing how little we have mapped our own places. The British had undertaken a mammoth effort of writing district gazetteers of India, documenting every little detail about our local customs, wealth and geographies. Except in some states, this process has fallen into disrepair. We need to go beyond traditional ways of knowledge production and consumption. It is important that we dissolve colonial frames of knowledge creation and evolve new ones that truly reflect models of self-discovery.
            </p>
            <p class="txtinfo">
                This can be done by creating new imaginations of documenting ourselves. We need to develop participative, collaborative and non-theoretical accounts of India. To develop a framework for this, we want to collect and synthesize knowledge about ourselves in our own way, the way we experience ourselves.
            </p>
            <p class="txtinfo">
                This curation has to be done locally. If decentralization is the future of governance, then local-level knowledges and information is a prerequisite. This portal hopes to assist local administration in better policymaking. It will help familiarize new bureaucrats and local government officials with the district they govern, giving insightful information for better policy planning, allowing for data based management of the district.
            </p>
            <p class="txtinfo">
                The portal is also likely to be of great utility for local entrepreneurs and businesses for richer market information. If the next level of development is hinged on small town aspirations, the portal will offer useful starting points. Finally, the portal may also become a favourite dwelling space for curious minds. The aim is that students, scholars and ordinary citizens will perhaps learn to make ingenious ways to use the portal, and even enrich it. Narrating local histories and cultures will instill the much-needed pride amongst people in their own lands, regarding their heritage and traditions.
            </p>
            <p class="txtinfo">
                In fact quite frankly, we have not envisaged a particular set of beneficiaries here. The project is a result of our own curiosity about India and its districts, and we are sure there are people like us who will enjoy digging and knowing more.
            </p>
            <p class="txtinfo">
                As we move from one century to the next, we must shed anxieties about our futures and ignorance about our past. We need to ride in a vehicle of co-produced knowledge. We need to give each place the power to define their identity and their own development agenda. The project is then, a powerful promise of democracy.
            </p>
            <p class="txtconhd">How do we do it?</p>
            <p class="txtinfo">
                We find people with fire in their belly, an insatiable curiosity about our own lands and freedom to excavate information, and put them together. This is where the magic starts.
            </div>
            <p class="txtinfo">
                What they then do is map the length and breadth of the district, in both primary and secondary data collection. For quantitative work, we rely on data from the government. India has comprehensive systems of data collection in place. The machinery of district-level departments and bureaucracies collect information relevant to their departments. We rely government surveys at the district level (including Census, NFHS, PLFS, AISHE, UDISE, HMIS, NJDG etc.), publicly available data found in various reports and commissions. We sieve through this vast swathe of data, work closely with district level officials and painstakingly (ok joyously!) work with it. We collect this raw information, translate it, clean it, integrate it, and finally develop usable spreadsheets. The data is then visualized graphically.
            </p>
            <p class="txtinfo">
                For qualitative information, we go and spend time in the respective districts, undertaking extensive fieldwork, collecting stories and narratives. We explore vernacular texts and study old gazetteers extensively. We find and work with local partners and intellectuals who are storehouses of knowledge about their place. We also spend a lot of time talking to ordinary people on the street, snowballing into new networks and new information.
            </p>
            <p class="txtinfo">
                Niels Bohr, the famous theoretical physicist used to say that we only see that part of nature, which is exposed to our lines of questions. For qualitative work, therefore do not go with any question in mind. There is no systematic investigation, testing or proving any hypothesis. We allow the place to open itself to us on its own as we collect diverse experiences of people who agree to talk to us.We then return enriched and inspired. This humbling process is not just a discovery of the place, but of oneself too.
            </p>
            <p class="txtconhd">User Participation</p>
            <p class="txtinfo">
                The most exciting aspect of this project is, that it is never over. We do not claim to complete the project or a district at any time. It will always be a work-in-progress. New information will continue to be added, errors rectified and imaginations evolved.We hugely welcome users’ participation.
            </p>
            <p class="txtinfo">
                And this is where you come in.Users can actively send us new content that we may have missed. Each page has a link to supply new information: clicking on it will open a window and users can upload pictures, data, stories or any information that they would like to bring to our notice. We will indeed welcome such enrichment, and even acknowledge the contributions.
            </p>
            <p class="txtinfo">
                Therefore, the project will keep growing, evolving and refining. This is an ambitious movement and we hope we can together build our knowledge, the way we collectively want.
            </p>
            <p class="txtconhd">A Note on Project’s Philosophy</p>
            <p class="txtinfo">At the core, we are motivated by the following four principles:</p>
            <p class="txtinfo">
                <i>Firstly</i>, we believe that small is beautiful (in the E.F. Schumacher way, but more closely in a Gandhian way). We believe that decentralized, polycentric thinking is the desirable attitude to not only understand but also govern India. In fact, this is the primary motivation for us to go deeper into each district.
            </p>
            <p class="txtinfo">
                <i>Secondly</i>, we do not theorize. India is not a theory-based culture, rather an empirical one. For far too long people have come up with theories to fit India into, and have miserably failed. We try to document India as it is. (Surely we observe through our own lenses, but at least these are native lenses.) This also means that we regard learning-by-doing and trial-and-error as the most desirable way of knowledge creation.
            </p>
            <p class="txtinfo">
                <i>Thirdly</i>, we are doing this for ordinary Indians, not just for scholars or academics. Hence, we do not use anthropological frames, or scholarly vocabulary to write about our lands. We do not italicize vernacular words, nor do we use, say, Hunterian transliteration. For native cultural terms that most Indians understand, we also avoid translating them – for instance, we simply write ‘aarti’, and not ‘Hindu ritual with light/flame offered to deities.’
            </p>
            <p class="txtinfo">
                <i>Fourthly</i>, despite recognizing its limitations (and even danger), we believe data is the cornerstone of policymaking and necessary for meeting developmental challenges.
            </p>
            <p class="txtconhd">About the Centre for Knowledge Alternatives</p>
            <p class="txtinfo">
                The project is the flagship initiative of the Centre for Knowledge Alternatives.The Centre conducts research on public policy and culture.
            </p>
            <p class="txtinfo">
                Working on the two fascinating fields of inquiry, we try to make sense of Indian-ness (without a theory of course). This allows new knowledge frameworks to emerge. And all of them coexist. There is no hierarchy of knowledge here. We are working with forests of knowledge, and not manicured gardens.
            </p>
            <p class="txtinfo">
                The story of elephant and the blind men is relevant to our purpose and philosophy. Several blind men touch different parts of the elephant and claim to have found something different. Of course, they are limited by their senses. But who isn’t? Everyone is correct and incorrect at the same time.The Centre’s logo celebrates this very story.
            </p>
        </div>
    </div>
</div>
        
          

  <!-- Project Page Content End -->

            
        
  
    <!-- Footer Start -->
    <%- include('partials/_footer') %>
    <!-- Footer End -->


    <!-- Back to Top 
    <a href="#" class="btn btn-lg btn-top btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>-->


    <!-- JavaScript Libraries -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>